
 div{
    padding:1%;

    width: 50%;  
}
h1{
    text-align: center;
    color:white;
}
label{
    width:40%;
    text-align: right;
    display: inline-block;
    

}
#ip{
 border-radius: 25px;
}
#font{
 color:white;
}
span{
    color:white;
    
}
input{
    text-align: center;
    display: inline-block;
    
}
input.genero{
    text-align: center;
    display: inline-block;
    width: 5%;
}
a{
    background-color: white;
}
#es{
    
}